:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(55, 55, 55, 0.87);
  background-color: #f8f9fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  color: #333;
}

/* Navbar */
.navbar {
  border-bottom: 4px solid yellow;
}

/* Header */
header {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
  overflow: hidden;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

header h1 {
  margin: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

header p {
  margin: 0;
  font-size: 1.2em;
}

/* Estilos específicos para el botón de total en la Navbar */
.navbar-total-button {
  background-color: #22502c;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  font-size: 1rem;
  min-width: 150px; 
  transition: background-color 0.25s ease;
}

.navbar-total-button:hover {
  background-color: #218838; 
}

.ml-auto {
  margin-left: auto; 
}

/* Footer */
footer {
  background-color: #000;
  color: white;
  border-top: 4px solid yellow;
  text-align: center;
  padding: 10px 0;
}

/* General Button Styles */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: black;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Register Modal Styles */
.register-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.register-form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 300px;
  max-width: 100%;
}

/* Light Mode Styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: black;
  }

  button {
    background-color: #f9f9f9;
  }
}
